body{
    border:1px solid black;
    margin: 0px;
    height: 700px;
    width: 100%;
}
.nav_head{
    background-color: yellow;
    height:80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}
.head_camera{
    margin-left: 30px;
    font-size: 35px;
}
.head_search{
    width: 90px;
    margin-right: 100px;
}